@import "tailwindcss";

@theme {
  --color-primary-bg: var(--color-sky-100);
  --color-primary-hover-bg: var(--color-sky-200);
  --color-primary-fg: var(--color-sky-900);
  --color-primary-border: var(--color-sky-300);
}

:is(table.cart) {
  @apply my-8;

  th {
    @apply text-left;
  }

  th, td {
    &:not([class]) {
      @apply py-1 px-2 border;
    }
  }
}
